<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ site_description  }}">
        {% block page_title %}
        <title>{{ site_name }}</title>
        {% endblock %}
				<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
				<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/institution/custom.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/institution/hsls-style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/institution/pitt-branding-style.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/institution/pdc-form-overrides.css') }}" />

        {# placeholder blocks for page-specific elements #}
        {% block page_stylesheets %}
        {% endblock %}

        {# if you use something like Google Analytics, put it in ./institution/analytics.html.twig and we'll include it here #}
        {% include ['institution/analytics.html.twig', 'analytics.html.twig'] ignore missing %}

       {# placeholder block for JSON-LD output #}
       {% block JSONLD_output %}

<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "DataCatalog",
"name": "{{ site_name }}",
"keywords":"science, dataset, research, data, data catalog",
"url": "{{ site_base_url }}",
"provider": {
  "@type":"Organization",
  "name":"{{ site_provider_name }}",
  "url":"{{ site_provider_url }}",
  "parentOrganization": {
    "@type":"Organization",
    "name": "{{ institution_name }}",
    "address":"{{ institution_address }}",
    "url":"{{ institution_url }}"
   }
 }
}
 </script>
<script type="application/ld+json">
{"@context": "http://schema.org",
"@type": "WebSite",
"name": "{{ site_name }}",
"description":"{{ site_description }}",
"url": "{{ site_base_url }}",
"keywords":"science, dataset, research, data, data catalog",
"potentialAction": {
"@type": "SearchAction",
"target": "{{ site_base_url }}/search?keyword={search_term_string}",
"query-input": "required name=search_term_string"
}
}
</script>
       {% endblock %}

       {% block results_JSONLD_output %}
       {% endblock %}

    </head>
    <body>

      <a href="#maincontent" class="skip">Skip to content</a>

			<header id="masthead" class="pittbar navbar-dark" role="banner">
        <div class="container header-container">
            <nav>

							<div class="row">
								<div class="col-sm-12 col-md-8">
									<div class="pitt-shield">
										<a href="http://www.pitt.edu" title="University of Pittsburgh"><img src="https://files.hsls.pitt.edu/files/images/pitt_shield_white.png" alt="University of Pittsburgh Shield"></a>
									</div>
									<div class="site-identity">
										<span><a href="https://www.hsls.pitt.edu/">Health Sciences Library System</a></span>
										<a href="https://datacatalog.hsls.pitt.edu/">Pitt Data Catalog</a>
									</div>
								</div>
								<div class="col-sm-12 col-md-4">
									<div role="navigation" aria-label="primary" id="secondary-links" class="container-fluid">
										<div class="secondary-links pittbar__links">
											<ul class="menu secondary">
												<li class="first leaf"><a href="http://www.pitt.edu" title="">Pitt Home</a></li>
												<li class="last leaf"><a href="http://find.pitt.edu" title="">Find People</a></li>
											</ul>
										</div>
									</div>
								</div>
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
										<span class="navbar-toggler-icon"></span>
								</button>

								<div id="main-nav" class="collapse navbar-toggleable-md navbar-collapse justify-content-end">
									<ul id="menu-my-new-menu" class="navbar-nav primary-nav">

										<li class="navbar-nav menu-item primary-wedged primary-wedged-first"><a class="nav-link" href="https://find.pitt.edu/">Find People</a></li>
										<li class="navbar-nav menu-item primary-wedged"><a class="nav-link" href="https://www.pitt.edu/">Pitt Home</a></li>

										<li class="home-nav-link {% if app.request.get('_route') == 'default_search_results'%}active{% endif %} "><a href="/">Home</a></li>
										<li class="about-nav-link"><a href="{{ url('user_search_results') }}?page=1">Browse</a></li>
										<li class="about-nav-link {% if app.request.get('_route') == 'about' %}active{% endif %}"><a href="{{ path('about') }}">About</a></li>
										<li class="contact-page-link {% if app.request.get('_route') == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">Contact</a></li>
										{% if is_granted('ROLE_USER') %}
											<li class="privileged-nav-link admin-page-link {% if is_granted('ROLE_USER') and adminPage is defined and adminPage==true %}active{% endif %}"><a href="{{ path('admin_panel') }}">Admin</a></li>
										{% endif %}
							</div>
            </nav>
        </div>
			</header>


			
			<div style="width: 100%;" class="dc-search-header">
				<div class="container">

					<div class="row">
						<div class="col-xs-12 col-sm-4 flexcol vertmidcol col-desc-fr dc-search">
							<label for="keyword-search-input"><a href="{{ url('user_search_results') }}?page=1" style="color: white;" >Find datasets from University of Pittsburgh Researchers</a></label>
						</div>
						<div class="col-xs-12 col-sm-4 flexcol vertmidcol dc-search">
							<form id="keyword-search-form" class="input-group">
									<input type="text" class="form-control" id="keyword-search-input">
									<span class="input-group-btn">
										<button id="keyword-search-submit" class="btn btn-primary" type="submit">Go!</button>
									</span>
							</form>
						</div>

						<div class="col-xs-12 col-sm-4 flexcol vertmidcol dc-add">
								<a href="{{ url('submitdataset')}}" class="link-as-button add-link">Include your dataset</a> 
						</div>

					</div>
				</div>
			</div>

			{% block content %}{% endblock %}

      </div>
    </div>
		<footer class="conatiner-fluid footer" role="contentinfo">

					{# Use the file 'institution/footer.html.twig' for your institution-specific footer content #}
					{% include ['institution/footer.html.twig','footer.html.twig'] ignore missing %}


					<div style="text-align: center;">
						{% if is_granted('ROLE_USER') %}
								<a href="{{ path('logout') }}">Admin Logout</a>
						{% else %}
							<a href="{{ path('login') }}">Admin Login</a>
						{% endif %}
					</div>

      </footer>

      {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="{{ asset('js/respond.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/scripts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('js/searching.js') }}" type="text/javascript"></script>
      {% endblock %}
      {# placeholder block for page-specific scripts #}
      {% block page_scripts %}
      {% endblock %}

  </body>

</html>
